@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	min-width: 100vh;
	font-family: 'Kumbh Sans';
	font-weight: 700;
	overflow: hidden;
	height: 100vh;
	width: 100%;
	background-color: hsl(185, 75%, 39%);
}
.card-age,
.card-city,
.stat-title {
	font-weight: 400;
}
.card-title,
.stat-num {
	font-weight: 700;
}
.top,
.bottom {
	position: absolute;
}
.top {
	transform: translate(-35%, -55%);
}
.bottom {
	bottom: 0;
	right: 0;
	transform: translate(25%, 65%);
}
.card {
	width: clamp(320px, calc(50vh - 100px), 400px);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 12px;
	background-color: #fff;
	box-shadow: 8px 12px 24px rgba(0, 0, 0, 0.2);
}
.card-top {
	width: 100%;
	height: 135px;
	position: relative;
	background-image: url(bg-pattern-card.svg);
	background-size: contain;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
}
.card-profile {
	width: 100px;
	height: 100px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}
.card-profile img {
	width: 100%;
	height: 100%;
	border: 5px solid #fff;
	border-radius: 50%;
	margin-top: 85px;
}
.card-info {
	margin-top: 60px;
	display: grid;
	grid-template-columns: 60% auto;
}
.card-title {
	padding: 15px 5px;
	text-align: right;
	color: hsl(229, 23%, 23%);
}
.card-age {
	padding: 15px 5px;
	color: hsl(0, 0%, 59%);
}
.card-city {
	grid-column: span 2;
	text-align: center;
	font-size: 14px;
	color: hsl(0, 0%, 59%);
}
.card-stats {
	margin-top: 20px;
	border-top: 1px solid hsl(0, 0%, 59%);
	display: flex;
}
.stat {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.stat-num {
	font-size: 18px;
	color: hsl(229, 23%, 23%);
	margin-bottom: 5px;
}
.stat-title {
	font-size: 14px;
	padding: 8px;
	color: hsl(0, 0%, 59%);
}
@media screen and (max-width: 706px) {
	.top {
		transform: translate(-70%, -55%);
	}
	.bottom {
		transform: translate(70%, 55%);
	}
	
}
}
/*good morning sir my name mayur parmar this is our team mohib aamir and priyansh and 
now i am happy to introduce our project online bus pass system 
in any project or any things first question is why ? and in our project also 
why online bus pass system ? now days getting bus pass is very sturbn process first you have collect the bus form from bus depot then 
fill the and give it to the to verify your student of that institute and it take atleast two days to verify 
student after that that student need to go to bus depot to issue pass but some time it take two three days 
to get bus pass from bus depot in this process students three to four days and they spent money also going to 
intitute and and bus depot now i introduce our project online bus pass system in try to overcome the paper 
proceture and make it online what was our plane we going to create web site where student can register then apply 
for pass and that request would be send to college admin and college admin can verify that student is from that college or not 
adter that if college admin verify then request go to the bus depot admin there also admin can verify the student 
and generate pass and and give to the student right now using this project we make whole paper proceture to paperless
and our future scope student can generate pass in that mobile or system we will work it and that all from us thank you f
for hearing us out.*/
